.slogan{
  font-family: M PLUS 2;
  font-size: 30px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: -50px;

}

.booknow{
  background: linear-gradient(90deg, #20BFAA 0%, #12E7CB 57.38%);
}